.pet-detail-container{
    margin: 2% 5%;
}

.pet-detail-info-image-container{
    display: flex;
    justify-content: center;

}

.pet-detail-info-image-container div{
    margin:  3em;
    font-size: 1em;
}


.pet-detail-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
