<section class="bg-light">
    <div class="container py-5 h-100" style="margin-bottom: -70px;"> 
        <div class="card border-0" id="topCard">
            <div class="card-body">
                <h2 class="card-title">About {{playDate.eventName}}</h2>
            </div>
        </div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card mb-5" style="border-radius: 15px;">
            <div class="card-body p-4">
                    <div class="event-list-content fix">
                        <ul style="padding-bottom: 10px;">
                            <li style="padding-right: 752px;">{{ playDate.startTime | formatDate }}</li>
                            <li>{{ playDate.city }}, {{playDate.state}} {{playDate.postalCode}}</li>
                          </ul>
                        <h3>{{ playDate.eventName }}</h3>
                        <p>{{ playDate.eventDescription }}</p>

                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Location</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">{{ playDate.startTime | formatDate }}</th>
                                <td>{{ playDate.startTime | formatTime }} - {{ playDate.endTime | formatTime }}</td>
                                <td>{{ playDate.locationName }}<br />{{ playDate.address }}<br />{{ playDate.city }}, {{playDate.state}} {{playDate.postalCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                        <button routerLink="/playdates" type="button" class="btn btn-outline-primary ms-1" id="accentoutline">Back</button>
                        <!-- <div class="crical"> </div> -->
                    </div>
              <hr class="my-4">
              <div class="d-flex justify-content-start align-items-center">
                <!-- <button type="button" class="btn btn-primary" id="accent">Join PlayDate</button> -->
                <p class="mb-0 text-uppercase" style="padding-left: 25px;"><span
                    class="text-muted small">Participants</span>
                  <span class="ms-3 me-4">|</span></p>
                <a *ngFor="let pet of playDate.pets">
                  <img src="{{ pet.imageUrl }}" alt="avatar"
                    class="img-fluid rounded-circle me-3" width="35"
                    [routerLink]="['/pets', pet.id]">
                </a>
                <!-- Add and Remove Pets From PlayDate -->
                <button *ngIf="!isEditing" (click)="add()" type="button" class="btn btn-outline-dark btn-sm btn-floating" style="margin-right: 10px;">
                  <i *ngIf="!isEditing" class="fas fa-plus"></i>
                </button>
                <button *ngIf="!isEditing" (click)="delete()" type="button" class="btn btn-outline-dark btn-sm btn-floating">
                  <i *ngIf="!isEditing" class="fas fa-minus"></i>
                </button>
                <div *ngIf="isEditing && isAdd">
                  <ng-multiselect-dropdown
                    mdbInput
                    [placeholder]="'Choose Your Pet(s)'"
                    [settings]="hostPetDropdownSettings"
                    [data]="hostPetList"
                    [(ngModel)]="selectedHostPets"
                    id="hostPet"
                    class="custom-color">
                  </ng-multiselect-dropdown>
                </div>
                <div *ngIf="isEditing && isDelete">
                  <ng-multiselect-dropdown
                    mdbInput
                    [placeholder]="'Choose Your Pet(s)'"
                    [settings]="hostPetDropdownSettings"
                    [data]="userPetList"
                    [(ngModel)]="selectedUserPets"
                    id="userPet"
                    class="custom-color">
                  </ng-multiselect-dropdown>
                </div>
                <button *ngIf="isEditing && isAdd" (click)="addPet()" type="button" class="btn btn-outline-primary ms-1" id="accent">Save</button>
                <button *ngIf="isEditing && isDelete" (click)="removePet()" type="button" class="btn btn-outline-primary ms-1" id="accent">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
