<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="event">
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown;">
                <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!-- row loop -->
                    <div  class="row mb-30">
                        <div class="col-lg-10">
                            <div class="event-list-content fix">
                                <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;" class="">
                                    <!-- <li>{{ location.street1 }} {{ location.city }} {{ location.state }} {{ location.postalCode }}</li> -->
                                    <li>9.30 - 10.30 AM</li>
                                </ul>
                                <h2>{{ event.name }}</h2>
                                <p>{{ event.description }}</p>
                                <a href="#" class="btn mt-20 mr-10"><i class="far fa-ticket-alt"></i>Join PlayDate</a>
                                <a href="#" class="btn mt-20">Read More</a>
                                <div class="crical"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
