<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="event">
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown;">
                <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!-- row loop -->
                    <h2>Events</h2>
                    <div *ngFor="let playDate of playDates" class="row mb-30">
                        <div class="col-lg-10">
                            <div class="event-list-content fix">
                                <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;" class="">
                                    <li>{{ playDate.locationName }}</li>
                                    <li>{{ playDate.startTime | formatDate }} {{ playDate.startTime | formatTime }} - {{ playDate.endTime | formatTime }}</li>
                                </ul>
                                <h3>{{ playDate.eventName }}</h3>
                                <p>{{ playDate.eventDescription }}</p>
                                <!-- <button type="submit" class="btn btn-outline-primary ms-1" id="accentoutline">Read More</button> -->
                                <button type="button" class="btn btn-primary" id="accent">Join PlayDate</button>
                                <!-- <div class="crical"> </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
