<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <!-- Temp Image -->
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-4">
              <p class="lead fw-normal mb-0 me-3">Set Up Play Date</p>
            </div>

           
            <div class="row mb-4">
                 <!-- First Name input -->
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput disabled="true" id="fullName" class="form-control"
                            placeholder="Host Full Name"
                            [(ngModel)]="host.fullName" />
                        <label mdbLabel class="form-label" for="fullName" >Host Name</label>
                    </div>
                </mdb-form-control>
                <!-- Pet Select input -->
                    <ng-multiselect-dropdown
                        mdbInput
                        [placeholder]="'Host\'s Pet(s)'"
                        [settings]="hostPetDropdownSettings"
                        [data]="hostPetList"
                        [(ngModel)]="selectedHostPets"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        id="hostPet"
                    >
                    </ng-multiselect-dropdown>
            </div>
            <!-- Location Select input -->
            <div>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                    <select mdbInput class="form-control" 
                            name="selectLocation.name" 
                            id="locations" 
                            (ngModelChange)="onLocationSelect($event)"
                            [(ngModel)]="selectedLocation">
                        <option *ngFor="let op of locationOptions" [value]="op.name">>
                        {{op.name}}
                        </option> 
                    </select>
                    <label mdbLabel class="form-label" for="locations">Location</label>
                    </div>
                </mdb-form-control>
            </div>
            <!-- Location Form -->
            <div *ngIf="isNewLocation" class="input-group">
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="locationName" class="form-control"
                            placeholder="Location Name"
                            [(ngModel)]="newLocation.name" />
                        <label mdbLabel class="form-label" for="locationName" >Name</label>
                    </div>
                </mdb-form-control>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="locationAddress" class="form-control"
                            placeholder="Street Address"
                            [(ngModel)]="newLocation.street1" />
                        <label mdbLabel class="form-label" for="locationAddress" >Address</label>
                    </div>
                </mdb-form-control>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="locationCity" class="form-control"
                            placeholder="City"
                            [(ngModel)]="newLocation.city" />
                        <label mdbLabel class="form-label" for="locationCity" >City</label>
                    </div>
                </mdb-form-control>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="locationState" class="form-control"
                            placeholder="State"
                            [(ngModel)]="newLocation.state" />
                        <label mdbLabel class="form-label" for="locationState" >State</label>
                    </div>
                </mdb-form-control>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="locationPostalCode" class="form-control"
                            placeholder="Postal Code"
                            [(ngModel)]="newLocation.postalCode" />
                        <label mdbLabel class="form-label" for="locationPostalCode" >Postal Code</label>
                    </div>
                </mdb-form-control>
            </div>
            <!-- Event Select input -->
            <div>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                    <select mdbInput class="form-control" 
                            name="selectEvent" 
                            id="events" 

                            (ngModelChange)="onEventSelect($event)"
                            [(ngModel)]="selectedEvent">
                        <option *ngFor="let op of eventOptions" [value]="op.name">>
                        {{op.name}}
                        </option> 
                    </select>
                    <label mdbLabel class="form-label" for="events">Event Type</label>
                    </div>
                </mdb-form-control>
            </div>
            <!-- Event Form -->
            <div *ngIf="isNewEvent" class="input-group">
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <input mdbInput id="eventName" class="form-control"
                            placeholder="Event Name"
                            [(ngModel)]="newEvent.name" />
                        <label mdbLabel class="form-label" for="eventName" >Name</label>
                    </div>
                </mdb-form-control>
                <mdb-form-control>
                    <div class="form-outline mb-4">
                        <textarea  mdbInput id="eventDescription" class="form-control"
                            placeholder="Event Description"
                            [(ngModel)]="newEvent.description" rows="3"></textarea>
                        <label mdbLabel class="form-label" for="eventDescription" >Description</label>
                    </div>
                </mdb-form-control>
                <!-- Pet Type Select -->
                <!-- Restriction Select -->
            </div>
            <!-- Start and End Date Time Picker -->
            <div class="row mb-4">
                <div class="col d-flex">
                    <input [(ngModel)]="startTime" id="startTime"  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Time">
                    <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="col d-flex">
                    <span> to </span>
                </div>
                <div class="col d-flex">
                    <input [(ngModel)]="endTime" id="endTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Time">
                    <owl-date-time #dt2></owl-date-time>
                </div>
            </div>
            <br>
            <!-- Local Pet Select input -->
            <div class="row mb-4">
                    <ng-multiselect-dropdown
                            [placeholder]="'Select Local Pets'"
                            [settings]="localPetDropdownSettings"
                            [data]="localPetList"
                            [(ngModel)]="selectedLocalPets"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                    ></ng-multiselect-dropdown>
            </div>
            <!-- Create PlayDate Button -->
            <div>
                <button mdbRipple type="button" (click)="onSubmit()" class="btn submit-button btn-block">Create Play Date</button>
            </div>
        </div>
      </div>
    </div>
</section>
