<div>
    <section class="text-center">
        <header class="bg-image-full" style="background-image: url('../../assets/PawMatesBanner.png')">
        </header>

        <div class="pt-5">
        <div class="row">
          <div class="col-lg-4 col-md-9 mb-4">
            <div class="card border-0" style="margin-left: 140px;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="../../assets/shibainu.png"
                    class="rounded-circle"
                    alt="White dog with pink heart shades"
                />
              </div>
              <div class="card-body">
                <p class="card-text">
                    A world of playful pawsibilities is just a tap away. Find pet friends in your area and let the fun begin! 
                </p>
                <a routerLink="pets" class="btn btn-primary btn-lg" id="button">View Pets In Your Area</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-9 mb-4">
            <div class="card border-0" style="margin-left: 60px;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="../../assets/dogevent.png"
                    class="rounded-circle"
                    alt="Man with dog surrounded by other owners and dogs"
                />
              </div>
              <div class="card-body">
                <p class="card-text">
                  Participate in an event that celebrates the bond between you an your pet. From playdates in the park to pet-friendly picnics, there's something for everyone.
                </p>
                <a routerLink="playdates" class="btn btn-primary btn-lg" id="button">View Events In Your Area</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-9 mb-4">
            <div class="card border-0" style="margin-right: 150px;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="../../assets/dogsplaying.png"
                    class="rounded-circle"
                    alt="Three dogs playing"
                />
              </div>
              <div class="card-body">
                <p class="card-text">
                    Connect with furry friends in your neighborhood and plan playdates for your pets. Unleash the fun today!
                </p>
                <a routerLink="events" class="btn btn-primary btn-lg" id="button">Set Up A Play Date</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
</div>
