<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="row">
                                <div class="col-lg-4">
                                  <div class="card mb-4 border-0">
                                    <div class="card-body text-center">
                                        <img class="rounded-circle" src={{pet.imageUrl}} (error)="handleImageError()" alt="Pet Picture">
                                      <h5 class="my-3">{{ pet.name }}</h5>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="firstName">Name</label>
                                                <input type="text" class="form-control" id="name" 
                                                name="name" [(ngModel)]="pet.name">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="breed">Breed</label>
                                                <input type="text" class="form-control" id="breed" 
                                                name="breed" [(ngModel)]="pet.breed">
                                            </div>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                            <div class="col-sm-6">
                                              <label for="age">Age</label>
                                                <input type="number" class="form-control" id="age" 
                                                name="age" [(ngModel)]="pet.age">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="age">Address</label>
                                                  <input type="text" class="form-control" id="address" 
                                                  name="address" [(ngModel)]="pet.postalCode">
                                              </div>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                            <div class="col-sm-12">
                                              <label for="age">About Me</label>
                                                <input type="text" class="form-control" id="about" 
                                                name="about" [(ngModel)]="pet.age">
                                            </div>
                                          </div>
                                          <div>
                                            <button type="button" (click)="editPet()" type="submit" class="btn btn-primary" id="button" style="margin-top: 25px;">Save</button>
                                          </div>
                                      </div>
                                    </div>
                                  </div>